<%- include ("../views/_headeradmin") %>

    <br>

    <div class="w3-main w3-content w3-padding" style="max-width:1980px;margin-top:150px">
        <div class="w3-row-padding w3-padding-16 w3-center">

    <div class="w3-quarter w3-container">
                <a href="/manager" id="iconhos" > <img border="0"src="4205906.png" alt="Card image" style="width:65%"></a><br>
                <a href="/manager" id="idtreat"  ><font color="#566573"   style="font-size: 195%;" > ผู้จัดการ </font></a>
            </div>
            <div class="w3-quarter w3-container">
                <a href="/leaderlistadmin" id="icondoc" > <img border="0" alt="W3Schools" src="boss.png" style="width:65%"></a><br>
                <a href="/leaderlistadmin" id = "iddoc"  > <font color ="#566573"  style="font-size: 195%;"">หัวหน้า </font> </a>
            </div>
            <div class="w3-quarter w3-container">
                <a href="/hrlistadmin" id="iconme" > <img border="0" alt="W3Schools" src="3220315.png" style="width:65%"></a><br>
                <a href="/hrlistadmin" id = "idme"   > <font color ="#566573"  style="font-size: 195%;"> HR </font>  </a>
            </div>
            <div class="w3-quarter w3-container">
                <a href="/employeelist" id="iconls"> <img border="0" alt="W3Schools" src="417777.png" style="width:65%"></a><br>
                <a href="/employeelist" id = "idls"   > <font color ="#566573"  style="font-size: 195%;">พนักงาน </font>  </a>
     </div>
        

    <%- include ("../views/_footer") %>