<%- include ("../../views/_header") %>
<div class="w3-main w3-content w3-padding" style="max-width:500px;margin-top:40px">
    <div class="w3-row-padding w3-padding-16 w3-center" >
                <div class="card">
                    <div class="card-body"><br><br>
                        <div class="w3-rest">
                        <form action="" method="post" id="fromlist">
                            <center>
                                <h1 style="color:#5a5a5a;">กรอกข้อมูลการประเมินสำเร็จ</h1>
                            </center>
                            <br>
                            <a  href="งานเขียนแบบประเมินตนเอง.pdf" download>
                                <img id = "pt1" src="pdf-icon-10.png" alt="W3Schools" width="200" height="200" align="center"> <br><br>

                               <font  > <h5 id = "f3" align="center" color="#5a5a5a;" >กรุณาดาวน์โหลดแบบการประเมินตนเอง</h5> </font>
                              </a>
                              <br><br>
                            <%if(session.admin){%>
                                <a href="/employeelist" class="btn btn-success" id="back" align="right"> เสร็จสิ้น </a>
                                <% }%>
                           
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <%- include ("../../views/_footer") %>